In [1]:
import requests
import pandas as pd

# Fetch data from the API
collision_response = requests.get("https://data.cityofnewyork.us/resource/h9gi-nx95.json")
collision_data = collision_response.json()

In [2]:
collision_df = pd.DataFrame(collision_data)
collision_df.head(5)

,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,0,...,40.667202,-73.8665,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Correct column names
collision_df = collision_df.rename(columns={"off_street_name": "cross_street_name", "cross_street_name": "off_street_name"})
collision_df.head(5)

,crash_date,crash_time,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,0,...,40.667202,-73.8665,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
collision_clean_df = collision_df[[
    'collision_id', 'crash_date', 'crash_time', 'on_street_name', 'cross_street_name', 'off_street_name', 'borough', 'zip_code',
    'number_of_persons_injured', 'number_of_persons_killed', 'number_of_pedestrians_injured', 'number_of_pedestrians_killed', 
    'number_of_cyclist_injured', 'number_of_cyclist_killed', 'number_of_motorist_injured', 'number_of_motorist_killed', 
    'contributing_factor_vehicle_1', 'longitude', 'latitude']]

In [5]:
collision_clean_df.sort_values(by='crash_date', ascending=True).reset_index(drop=True)

,collision_id,crash_date,crash_time,on_street_name,cross_street_name,off_street_name,borough,zip_code,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,longitude,latitude
0,4408059,2016-04-16T00:00:00.000,14:20,WEST 17 STREET,BAY 50 STREET,NaN,BROOKLYN,11214,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,-73.9862,40.586277
1,4136992,2019-05-21T00:00:00.000,22:50,GOLD STREET,CONCORD STREET,NaN,BROOKLYN,11201,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,-73.98312,40.69754
2,4277087,2020-01-21T00:00:00.000,15:49,BRUCKNER BLVD,ï¿½ST 138 STREET,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN
3,4407790,2020-04-15T00:00:00.000,15:20,GOWANUS EXPY (BQE),NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,-73.99843,40.671585
4,4395664,2021-02-26T00:00:00.000,14:50,NaN,NaN,2819 MIDDLETOWN ROAD,BRONX,10461,0,0,0,0,0,0,0,0,Unspecified,-73.836,40.843464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4521782,2022-04-24T00:00:00.000,11:45,BELT PARKWAY,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,-73.94157,40.585342
996,4521853,2022-04-24T00:00:00.000,15:35,WEST 56 STREET,9 AVENUE,NaN,MANHATTAN,10019,1,0,0,0,1,0,0,0,View Obstructed/Limited,-73.986206,40.767242
997,4541903,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,NaN,NaN
998,4542336,2022-06-29T00:00:00.000,16:00,WILLIAMSBURG BRIDGE OUTER ROADWA,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,NaN
999,4545699,2022-07-12T00:00:00.000,17:50,NaN,NaN,44 EMPIRE BOULEVARD,BROOKLYN,11225,0,0,0,0,0,0,0,0,Oversized Vehicle,-73.96049,40.663303

In [6]:
collision_clean_df = collision_clean_df.copy()

# Convert to datetime format
collision_clean_df['crash_date'] = pd.to_datetime(collision_clean_df['crash_date'])

# Extract only the date part
collision_clean_df['crash_date'] = collision_clean_df['crash_date'].dt.date

In [7]:
collision_clean_df.to_csv('../Resources/collision_data_clean.csv', index=False)