In [1]:
import pandas as pd
import requests
import numpy as np

In [20]:
with open('../api_keys/geoapify.txt', 'r') as file:
    geo_apikey = file.readline().strip()
with open('../api_keys/googlemap.txt', 'r') as file:
    google_apikey = file.readline().strip()

In [3]:
collision_df = pd.read_csv("../Resources/collision_data_clean.csv", dtype={"zip_code": "str"})
collision_df['county'] = np.nan
collision_df = collision_df.rename(columns={"contributing_factor_vehicle_1": "contributing_factor_vehicle"}, inplace=False)
collision_df = collision_df[['collision_id', 'crash_date', 'crash_time', 
                             'on_street_name', 'off_street_name', 'cross_street_name', 'borough', 'county', 'zip_code', 'latitude', 'longitude', 
                             'number_of_persons_injured', 'number_of_persons_killed', 'number_of_pedestrians_injured', 'number_of_pedestrians_killed', 
                             'number_of_cyclist_injured', 'number_of_cyclist_killed', 'number_of_motorist_injured', 'number_of_motorist_killed', 'contributing_factor_vehicle']]
collision_df.head()

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,NaN,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,NaN,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [4]:
off_street_missing_data = collision_df[(collision_df['off_street_name'].notna())]
off_street_missing_data

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,NaN,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
7,4486660,2021-12-14,8:17,NaN,344 BAYCHESTER AVENUE,NaN,BRONX,NaN,10475,40.868160,-73.831480,2,0,0,0,0,0,2,0,Unspecified
8,4487074,2021-12-14,21:10,NaN,2047 PITKIN AVENUE,NaN,BROOKLYN,NaN,11207,40.671720,-73.897100,0,0,0,0,0,0,0,0,Driver Inexperience
15,4486604,2021-12-14,17:58,NaN,480 DEAN STREET,NaN,BROOKLYN,NaN,11217,40.681580,-73.974630,0,0,0,0,0,0,0,0,Passing Too Closely
16,4486991,2021-12-14,20:03,NaN,878 FLATBUSH AVENUE,NaN,BROOKLYN,NaN,11226,40.650680,-73.958810,4,0,0,0,0,0,4,0,Steering Failure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,4407358,2021-04-14,19:01,NaN,2820 SNYDER AVENUE,NaN,BROOKLYN,NaN,11226,40.648840,-73.951020,0,0,0,0,0,0,0,0,Driver Inattention/Distraction
986,4407695,2021-04-15,10:13,NaN,525 EAST 72 STREET,NaN,MANHATTAN,NaN,10021,40.766586,-73.953100,0,0,0,0,0,0,0,0,Passing Too Closely
988,4408300,2021-04-10,22:06,NaN,1055 UNIVERSITY AVENUE,NaN,BRONX,NaN,10452,40.834675,-73.930275,4,0,0,0,0,0,4,0,Following Too Closely
991,4407494,2021-04-14,12:00,NaN,33 FERNDALE AVENUE,NaN,NaN,NaN,NaN,40.593002,-74.159000,0,0,0,0,0,0,0,0,Passing Too Closely
999,4407712,2021-04-14,19:00,NaN,72-24 BROADWAY,NaN,QUEENS,NaN,11372,40.747536,-73.893440,0,0,0,0,0,0,0,0,Unspecified

In [5]:
def get_missing_geo_data(address):
    base_url = "https://api.geoapify.com/v1/geocode/search?"
    params = {
        "text": address + ", New York City, NY, USA",
        "apiKey": geo_apikey,
        "limit": 1,
        "format": "json",
        "lang": "en"
    }

    response = requests.get(base_url, params=params).json()
    return response

In [6]:
def extract_data_from_response(response):
    if 'results' in response and len(response['results']) > 0:
        lat = response['results'][0].get('lat', None)
        lon = response['results'][0].get('lon', None)
        county = response['results'][0].get('county', None)
        zip_code = response['results'][0].get('postcode', None)
        return lat, lon, county, zip_code
    return None, None, None, None

In [7]:
for idx, row in off_street_missing_data.iterrows():
    response = get_missing_geo_data(row['off_street_name'])
    lat, lon, county, zip_code = extract_data_from_response(response)
    
    if pd.isna(row['latitude']):
        collision_df.at[idx, 'latitude'] = lat
    if pd.isna(row['longitude']):
        collision_df.at[idx, 'longitude'] = lon
    if pd.isna(row['zip_code']):
        collision_df.at[idx, 'zip_code'] = zip_code
    if pd.isna(row['county']):
        collision_df.at[idx, 'county'] = county

In [8]:
collision_df.head()

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,NaN,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,NaN,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [9]:
def get_intersection_geo_data(on_street, cross_street):
    intersection_address = f"{on_street} & {cross_street}, New York City, NY, USA"
    
    base_url = "https://api.geoapify.com/v1/geocode/search"
    params = {
        "text": intersection_address,
        "apiKey": geo_apikey,
        "limit": 1,
        "format": "json",
        "lang": "en"
    }

    response = requests.get(base_url, params=params).json()
    return response

In [10]:
intersection_missing_df = collision_df[(collision_df['on_street_name'].notna() & collision_df['cross_street_name'].notna())]
intersection_missing_df

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,NaN,NaN,NaN,NaN,NaN,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,NaN,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN
9,4486519,2021-12-14,14:58,3 AVENUE,NaN,EAST 43 STREET,MANHATTAN,NaN,10017,40.751440,-73.973970,0,0,0,0,0,0,0,0,Passing Too Closely
11,4487127,2021-12-14,16:50,SPRINGFIELD BOULEVARD,NaN,EAST GATE PLAZA,QUEENS,NaN,11413,40.675884,-73.755770,0,0,0,0,0,0,0,0,Turning Improperly
12,4486634,2021-12-14,8:30,broadway,NaN,west 80 street -west 81 street,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unsafe Lane Changing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,4407768,2021-04-13,8:04,EAST 13 STREET,NaN,AVENUE T,BROOKLYN,NaN,11229,40.600883,-73.958694,1,0,0,0,0,0,0,0,Driver Inattention/Distraction
990,4407680,2021-04-15,23:06,MARION AVENUE,NaN,EAST 193 STREET,BRONX,NaN,10458,40.863647,-73.891800,1,0,0,0,0,0,1,0,Traffic Control Disregarded
992,4408304,2021-04-10,4:45,THROOP AVENUE,NaN,GREENE AVENUE,BROOKLYN,NaN,11221,40.689426,-73.942230,0,0,0,0,0,0,0,0,Traffic Control Disregarded
995,4407740,2021-04-14,12:47,HENDRIX STREET,NaN,ATLANTIC AVENUE,BROOKLYN,NaN,11207,40.676594,-73.890380,2,0,0,0,0,0,2,0,Turning Improperly
997,4407822,2021-04-15,0:00,WEST 155 STREET,NaN,BROADWAY,MANHATTAN,NaN,10032,40.832764,-73.945830,3,0,0,0,0,0,3,0,Driver Inattention/Distraction

In [11]:
for idx, row in intersection_missing_df.iterrows():
    response = get_intersection_geo_data(row['on_street_name'], row['cross_street_name'])
    lat, lon, county, zip_code = extract_data_from_response(response)
    
    if pd.isna(row['latitude']):
        collision_df.at[idx, 'latitude'] = lat
    if pd.isna(row['longitude']):
        collision_df.at[idx, 'longitude'] = lon
    if pd.isna(row['zip_code']):
        collision_df.at[idx, 'zip_code'] = zip_code
    if pd.isna(row['county']):
        collision_df.at[idx, 'county'] = county

In [12]:
collision_df.head()

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,NaN,None,None,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,NaN,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,None,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [13]:
on_street_missing_df = collision_df[(collision_df['on_street_name'].notna() & collision_df['cross_street_name'].isna())]
on_street_missing_df

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely
5,4407458,2021-04-14,12:47,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified
6,4486555,2021-12-14,17:05,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,NaN,NaN,NaN,40.709183,-73.956825,0,0,0,0,0,0,0,0,Passing Too Closely
10,4486934,2021-12-13,0:34,MYRTLE AVENUE,NaN,NaN,NaN,NaN,NaN,40.701275,-73.888870,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,4407974,2021-04-10,0:00,WEST 64 STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper
993,4407827,2021-04-14,17:30,WEST 34 STREET,NaN,NaN,NaN,NaN,NaN,40.754580,-73.999150,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper
994,4407399,2021-04-14,22:40,LONG ISLAND EXPRESSWAY,NaN,NaN,NaN,NaN,NaN,40.741394,-73.823030,2,0,0,0,0,0,2,0,Unspecified
996,4408392,2021-04-16,14:30,EAST 64 STREET,NaN,NaN,NaN,NaN,NaN,40.764680,-73.964300,0,0,0,0,0,0,0,0,Backing Unsafely
998,4407655,2021-04-14,6:55,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,NaN,NaN,NaN,40.698544,-73.962360,0,0,0,0,0,0,0,0,Following Too Closely

In [14]:
for idx, row in on_street_missing_df.iterrows():
    response = get_missing_geo_data(row['on_street_name'])
    lat, lon, county, zip_code = extract_data_from_response(response)
    
    if pd.isna(row['latitude']):
        collision_df.at[idx, 'latitude'] = lat
    if pd.isna(row['longitude']):
        collision_df.at[idx, 'longitude'] = lon
    if pd.isna(row['zip_code']):
        collision_df.at[idx, 'zip_code'] = zip_code
    if pd.isna(row['county']):
        collision_df.at[idx, 'county'] = county

In [15]:
collision_df.head()

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,NaN,None,None,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,NaN,Queens County,None,40.746402,-73.940191,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,None,10465,40.816416,-73.798616,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,NaN,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,None,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [16]:
collision_df[collision_df['county'].isna() & collision_df['zip_code'].isna()]

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,NaN,None,None,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
12,4486634,2021-12-14,8:30,broadway,NaN,west 80 street -west 81 street,NaN,None,None,40.712728,-74.006015,0,0,0,0,0,0,0,0,Unsafe Lane Changing
17,4486284,2021-12-14,1:28,MEEKER AVENUE,NaN,LORIMER STREET,NaN,None,None,40.712728,-74.006015,3,0,0,0,0,0,3,0,Traffic Control Disregarded
61,4521902,2022-04-24,10:27,VANWYCK EXPRESSWAY,NaN,109 AVENUE,NaN,None,None,40.712728,-74.006015,1,0,0,0,0,0,1,0,Traffic Control Disregarded
107,4514263,2022-03-26,9:30,BRUCKNER BOULEVARD,NaN,EAST 137 STREET,NaN,None,None,40.804153,-73.913040,0,0,0,0,0,0,0,0,Unspecified
167,4514419,2022-03-25,14:00,LEONARD AVENUE,NaN,FISKE AVENUE,NaN,None,None,40.617630,-74.133575,0,0,0,0,0,0,0,0,Driver Inattention/Distraction
247,4456550,2021-09-06,10:34,21 STREET,NaN,33 ROAD,NaN,None,None,40.764103,-73.932770,1,0,0,0,0,0,1,0,Reaction to Uninvolved Vehicle
292,4455860,2021-09-11,14:00,72 STREET,NaN,41 AVENUE,NaN,None,None,40.744980,-73.893250,0,0,0,0,0,0,0,0,Unspecified
293,4456782,2021-08-29,0:12,VICTORY BOULEVARD,NaN,HARVEY AVENUE,NaN,None,None,40.611700,-74.139180,1,0,0,0,0,0,1,0,Driver Inattention/Distraction
338,4456582,2021-07-08,11:50,BRADLEY AVENUE,NaN,NORTH GANNON AVENUE,NaN,None,None,40.608550,-74.132160,2,0,0,0,0,0,2,0,Driver Inattention/Distraction
351,4456587,2021-07-08,11:50,BUSHWICK AVENUE,NaN,EASTERN PARKWAY,NaN,None,None,40.681515,-73.904120,1,0,0,0,0,0,1,0,Passing or Lane Usage Improper
355,4456819,2021-09-09,12:00,GRAND CENTRAL PARKWAY,NaN,UTOPIA PARKWAY,QUEENS,None,None,40.720130,-73.790380,1,0,0,0,0,0,1,0,Unspecified
384,4456568,2021-07-04,22:22,LAYTON AVENUE,NaN,THROGMORTAN AVENUE,NaN,None,None,40.712728,-74.006015,1,0,1,0,0,0,0,0,NaN
479,4408071,2021-04-16,13:15,HOWARD AVENUE,NaN,BLAKE AVENUE,NaN,None,None,40.664230,-73.919106,0,0,0,0,0,0,0,0,View Obstructed/Limited
483,4408369,2021-04-14,22:00,ROCKAWAY BOULEVARD,NaN,225 STREET,NaN,None,None,40.712728,-74.006015,3,0,0,0,0,0,3,0,Unspecified
495,4407945,2021-04-16,20:27,140 AVENUE,NaN,155 STREET,NaN,None,None,40.668507,-73.779625,0,0,0,0,0,0,0,0,Unspecified
536,4408057,2021-04-13,16:05,FOSTER AVENUE,NaN,EAST 8 STREET,NaN,None,None,40.631740,-73.967930,0,0,0,0,0,0,0,0,Unspecified
631,4407432,2021-04-14,14:00,BRUCKNER BOULEVARD,NaN,EAST 138 STREET,NaN,None,None,40.804700,-73.912430,0,0,0,0,0,0,0,0,Unspecified
647,4456486,2021-09-11,16:30,EAST 233 STREET,NaN,PRATT AVENUE,NaN,None,None,40.889362,-73.834460,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way
683,4407848,2021-04-16,9:10,HYLAN BOULEVARD,NaN,STEUBEN STREET,NaN,None,None,40.712728,-74.006015,0,0,0,0,0,0,0,0,Unspecified
685,4485464,2021-12-10,12:15,NEW DORP LANE,NaN,CLAWSON STREET,NaN,None,None,40.571625,-74.111920,0,0,0,0,0,0,0,0,Backing Unsafely
696,4407684,2021-04-15,17:11,BRUCKNER BOULEVARD,NaN,EAST 135 STREET,NaN,None,None,40.712728,-74.006015,1,0,0,0,0,0,1,0,Driver Inattention/Distraction
708,4407168,2021-04-14,7:00,G.C.P. / JEWEL (CDR),NaN,NaN,NaN,None,None,40.712728,-74.006015,0,0,0,0,0,0,0,0,Fell Asleep
746,4407806,2021-04-15,13:31,Beadle Street,NaN,Vandervoort avenue,NaN,None,None,40.712728,-74.006015,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper
755,4407243,2021-04-14,2:09,EAST 128 STREET,NaN,3 AVENUE BRIDGE,NaN,None,None,40.712728,-74.006015,1,0,0,0,0,0,1,0,Alcohol Involvement
762,4456830,2021-09-10,0:00,FRANCIS LEWIS BOULEVARD,NaN,UNDERHILL AVENUE,NaN,None,None,40.712728,-74.006015,1,0,0,0,0,0,1,0,Unspecified
807,4407261,2021-04-14,6:15,EAST 135 STREET,NaN,3 AVENUE,NaN,None,None,40.809563,-73.929230,0,0,0,0,0,0,0,0,Unspecified
825,4408066,2021-04-16,0:17,EAST 98 STREET,NaN,TAPSCOTT STREET,NaN,None,None,40.661995,-73.919590,0,0,0,0,0,0,0,0,Unspecified
828,4407691,2021-04-15,22:50,CROSS ISLAND PARKWAY,NaN,HEMPSTEAD AVENUE,NaN,None,None,40.711227,-73.728260,0,0,0,0,0,0,0,0,Unspecified
858,4407390,2021-04-14,10:16,Leonard street,NaN,Wallabout Street,NaN,None,None,40.712728,-74.006015,1,0,0,0,1,0,0,0,Driver Inattention/Distraction
862,4407542,2021-04-15,8:30,122 AVENUE,NaN,197 STREET,NaN,None,None,40.687138,-73.751360,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way
870,4407384,2021-04-14,18:04,65 STREET,NaN,4 AVENUE,NaN,None,None,40.637997,-74.021360,2,0,0,0,0,0,2,0,Unspecified
977,4407481,2021-04-14,14:15,CLEARVIEW EXPRESSWAY,NaN,26 AVENUE,NaN,None,None,40.712728,-74.006015,1,0,0,0,0,0,1,0,Driver Inattention/Distraction

In [34]:
county_missing_given_latlon_df = collision_df[(collision_df['borough'].isna() | collision_df['county'].isna()) & collision_df['latitude'].notna() & collision_df['longitude'].notna()]
county_missing_given_latlon_df

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,NaN,None,None,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,NaN,Queens County,None,40.746402,-73.940191,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,None,10465,40.816416,-73.798616,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,NaN,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,None,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,4407827,2021-04-14,17:30,WEST 34 STREET,NaN,NaN,NaN,New York County,10011,40.754580,-73.999150,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper
994,4407399,2021-04-14,22:40,LONG ISLAND EXPRESSWAY,NaN,NaN,NaN,Queens County,None,40.741394,-73.823030,2,0,0,0,0,0,2,0,Unspecified
996,4408392,2021-04-16,14:30,EAST 64 STREET,NaN,NaN,NaN,New York County,None,40.764680,-73.964300,0,0,0,0,0,0,0,0,Backing Unsafely
998,4407655,2021-04-14,6:55,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,NaN,None,11104,40.698544,-73.962360,0,0,0,0,0,0,0,0,Following Too Closely
999,4407712,2021-04-14,19:00,NaN,72-24 BROADWAY,NaN,QUEENS,None,11372,40.747536,-73.893440,0,0,0,0,0,0,0,0,Unspecified

In [21]:
def get_borough_county(lat, lon):
    base_url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={lat},{lon}&key={google_apikey}"
    response = requests.get(base_url).json()
    return response

In [47]:
def extract_borough_county_from_response(response):
    borough, county, zip_code = None, None, None
    
    if 'results' in response:
        for result in response['results']:
            for component in result['address_components']:
                if not county and 'administrative_area_level_2' in component['types']:
                    county = component['long_name']
                if not borough and 'sublocality_level_1' in component['types']:
                    borough = component['short_name']
                if not zip_code and 'postal_code' in component['types']:
                    zip_code = component['long_name']
            
            # Check if we've found all the values we're looking for
            if borough and county and zip_code:
                break
                
    return borough, county, zip_code

In [48]:
for idx, row in county_missing_given_latlon_df.iterrows():
    response = get_borough_county(row['latitude'], row['longitude'])
    borough, county, zip_code = extract_borough_county_from_response(response)
    
    if pd.isna(row['borough']):
        collision_df.at[idx, 'borough'] = borough
    if pd.isna(row['county']):
        collision_df.at[idx, 'county'] = county
    if pd.isna(row['zip_code']):
        collision_df.at[idx, 'zip_code'] = zip_code

In [49]:
collision_df.head()

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,Brooklyn,New York County,10007,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,Queens,Queens County,11101,40.746402,-73.940191,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,Bronx,Bronx County,10465,40.816416,-73.798616,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,Kings County,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,Kings County,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [54]:
def get_latlon_borough_county(address):
    base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    params = {
        'address': address + ", New York City, NY, USA",
        'key': google_apikey
    }
    response = requests.get(base_url, params=params).json()
    return response

In [53]:
def extract_latlon_borough_from_response(response):
    lat, lon, borough, county, zip_code = None, None, None, None, None
    
    if 'results' in response:
        for result in response['results']:
            lat = result['geometry']['location']['lat']
            lon = result['geometry']['location']['lng']
            for component in result['address_components']:
                if not county and 'administrative_area_level_2' in component['types']:
                    county = component['long_name']
                if not borough and 'sublocality_level_1' in component['types']:
                    borough = component['short_name']
                if not zip_code and 'postal_code' in component['types']:
                    zip_code = component['long_name']
            
            # Check if we've found all the values we're looking for
            if borough and county and zip_code:
                break
                
    return lat, lon, borough, county, zip_code

In [59]:
collision_df.replace({None: np.nan, '': np.nan}, inplace=True)
collision_df.head()

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,WHITESTONE EXPRESSWAY,NaN,20 AVENUE,Queens,Queens County,11356,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,QUEENSBORO BRIDGE UPPER,NaN,NaN,Manhattan,Queens County,10044,40.746402,-73.940191,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,NaN,NaN,10465,40.816416,-73.798616,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,NaN,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,SARATOGA AVENUE,NaN,DECATUR STREET,BROOKLYN,Kings County,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [63]:
county_missing_given_latlon_df = collision_df[(collision_df['borough'].isna() | collision_df['county'].isna()) & collision_df['latitude'].notna() & collision_df['longitude'].notna()]
county_missing_given_latlon_df

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
2,4541903,2022-06-29,6:55,THROGS NECK BRIDGE,NaN,NaN,None,None,10465,40.816416,-73.798616,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 LORING AVENUE,NaN,BROOKLYN,None,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
5,4407458,2021-04-14,12:47,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,None,Bronx County,None,40.811660,-73.931423,0,0,0,0,0,0,0,0,Unspecified
6,4486555,2021-12-14,17:05,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,None,None,11104,40.709183,-73.956825,0,0,0,0,0,0,0,0,Passing Too Closely
7,4486660,2021-12-14,8:17,NaN,344 BAYCHESTER AVENUE,NaN,BRONX,None,10475,40.868160,-73.831480,2,0,0,0,0,0,2,0,Unspecified
8,4487074,2021-12-14,21:10,NaN,2047 PITKIN AVENUE,NaN,BROOKLYN,None,11207,40.671720,-73.897100,0,0,0,0,0,0,0,0,Driver Inexperience
10,4486934,2021-12-13,0:34,MYRTLE AVENUE,NaN,NaN,None,None,11237,40.701275,-73.888870,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper
13,4486564,2021-12-14,0:59,BELT PARKWAY,NaN,NaN,None,None,11229,40.596620,-74.002310,0,0,0,0,0,0,0,0,Unsafe Speed
15,4486604,2021-12-14,17:58,NaN,480 DEAN STREET,NaN,BROOKLYN,None,11217,40.681580,-73.974630,0,0,0,0,0,0,0,0,Passing Too Closely
16,4486991,2021-12-14,20:03,NaN,878 FLATBUSH AVENUE,NaN,BROOKLYN,None,11226,40.650680,-73.958810,4,0,0,0,0,0,4,0,Steering Failure
21,4487122,2021-12-14,5:46,LONG ISLAND EXPRESSWAY,NaN,NaN,None,Queens County,None,40.744644,-73.770410,1,0,0,0,0,0,1,0,Other Vehicular
29,4486875,2021-12-14,22:49,NaN,713 EAGLE AVENUE,NaN,BRONX,None,10455,40.818130,-73.910126,0,0,0,0,0,0,0,0,Driver Inattention/Distraction
34,4542336,2022-06-29,16:00,WILLIAMSBURG BRIDGE OUTER ROADWA,NaN,NaN,None,Kings County,None,40.710185,-73.958669,1,0,0,0,0,0,1,0,Driver Inattention/Distraction
35,4407665,2021-04-15,16:15,HUTCHINSON RIVER PARKWAY,NaN,NaN,None,None,10461,40.857640,-73.831114,0,0,0,0,0,0,0,0,Pavement Slippery
36,4456591,2021-07-07,11:42,THROGS NECK BRIDGE,NaN,NaN,None,None,10465,40.816416,-73.798616,1,0,0,0,0,0,1,0,Unsafe Lane Changing
37,4545699,2022-07-12,17:50,NaN,44 EMPIRE BOULEVARD,NaN,BROOKLYN,None,11225,40.663303,-73.960490,0,0,0,0,0,0,0,0,Oversized Vehicle
38,4512922,2022-03-23,10:00,NaN,71 EAST DRIVE,NaN,None,Richmond County,10314,40.588008,-74.162155,0,0,0,0,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...
50,4522285,2022-03-08,20:00,NaN,360 SNEDIKER AVENUE,NaN,BROOKLYN,None,11207,40.666256,-73.900215,0,0,0,0,0,0,0,0,Unspecified
55,4522196,2022-04-20,19:37,HENRY HUDSON PARKWAY,NaN,NaN,None,New York County,10034,40.782910,-73.985780,0,0,0,0,0,0,0,0,Driver Inexperience
58,4521469,2022-04-24,0:30,BELT PARKWAY,NaN,NaN,None,None,11229,40.638382,-74.036680,1,0,0,0,0,0,1,0,Driver Inattention/Distraction
67,4485116,2021-12-09,14:50,WEST 177 STREET,NaN,NaN,None,New York County,10024,40.850018,-73.910700,0,0,0,0,0,0,0,0,Unspecified
78,4485408,2021-12-05,8:20,NaN,393 ROCKAWAY PARKWAY,NaN,BROOKLYN,None,11212,40.658413,-73.917100,0,0,0,0,0,0,0,0,Unspecified
83,4484906,2021-12-08,22:37,NaN,288 MANOR ROAD,NaN,STATEN ISLAND,None,10314,40.621210,-74.123850,0,0,0,0,0,0,0,0,Pavement Slippery
84,4485036,2021-12-08,17:56,MAJOR DEEGAN EXPRESSWAY,NaN,NaN,None,None,10453,40.873737,-73.905930,0,0,0,0,0,0,0,0,Unspecified
88,4485340,2021-12-10,11:00,NaN,2123 LURTING AVENUE,NaN,BRONX,None,10461,40.854935,-73.858220,0,0,0,0,0,0,0,0,Oversized Vehicle
91,4484799,2021-12-08,18:36,HENRY HUDSON PARKWAY,NaN,NaN,None,New York County,10034,40.796720,-73.976180,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper
102,4513857,2022-03-26,20:10,NaN,1706 HOLLAND AVENUE,NaN,BRONX,None,10462,40.844425,-73.863900,0,0,0,0,0,0,0,0,Unspecified
106,4513874,2022-03-26,14:05,NaN,2067 NOSTRAND AVENUE,NaN,BROOKLYN,None,11210,40.635063,-73.947880,1,0,0,0,0,0,1,0,Unsafe Speed
122,4514286,2022-03-25,9:56,EAST 241 STREET,NaN,NaN,None,None,11203,40.904600,-73.852936,0,0,0,0,0,0,0,0,Driver Inattention/Distraction
129,4514002,2022-03-26,5:00,BRONX RIVER PARKWAY,NaN,NaN,None,None,10467,40.888930,-73.865790,0,0,0,0,0,0,0,0,Following Too Closely
132,4513774,2022-03-26,21:25,NaN,200 ROGERS AVENUE,NaN,BROOKLYN,None,11225,40.668896,-73.953390,0,0,0,0,0,0,0,0,Driver Inattention/Distraction
133,4514376,2022-03-25,18:13,NaN,604 EAST 2 STREET,NaN,BROOKLYN,None,11218,40.636540,-73.977070,2,0,0,0,0,0,2,0,Unspecified
141,4514201,2022-03-26,1:58,NaN,1670 WATSON AVENUE,NaN,BRONX,None,10472,40.827070,-73.870750,0,0,0,0,0,0,0,0,Turning Improperly

In [64]:
for idx, row in county_missing_given_latlon_df.iterrows():
    if row['on_street_name'] and row['cross_street_name']:
        address = f"{row['on_street_name']} & {row['cross_street_name']}"
    elif row['on_street_name']:
        address = row['on_street_name']
    elif row['off_street_name']:
        address = row['off_street_name']
    else:
        address = row['cross_street_name']
    
    response = get_latlon_borough_county(address)
    lat, lon, borough, county, zip_code = extract_latlon_borough_from_response(response)

    if pd.isna(row['latitude']) or row['latitude'] == 0:
        collision_df.at[idx, 'latitude'] = lat
    if pd.isna(row['longitude']) or row['longitude'] == 0:
        collision_df.at[idx, 'longitude'] = lon
    if pd.isna(row['borough']):
        collision_df.at[idx, 'borough'] = borough
    if pd.isna(row['county']):
        collision_df.at[idx, 'county'] = county
    if pd.isna(row['zip_code']):
        collision_df.at[idx, 'zip_code'] = zip_code

In [69]:
collision_df.replace({None: np.nan, '': np.nan}, inplace=True)
missing_data_df = collision_df[collision_df['county'].isna() & collision_df['borough'].isna()]

In [70]:
for idx, row in missing_data_df.iterrows():
    response = get_borough_county(row['latitude'], row['longitude'])
    borough, county, zip_code = extract_borough_county_from_response(response)
    
    if pd.isna(row['borough']):
        collision_df.at[idx, 'borough'] = borough
    if pd.isna(row['county']):
        collision_df.at[idx, 'county'] = county
    if pd.isna(row['zip_code']):
        collision_df.at[idx, 'zip_code'] = zip_code

In [75]:
collision_df.replace({None: np.nan, '': np.nan}, inplace=True)
missing_data_df = collision_df[collision_df['county'].isna() | collision_df['borough'].isna()]

In [76]:
for idx, row in missing_data_df.iterrows():
    response = get_borough_county(row['latitude'], row['longitude'])
    borough, county, zip_code = extract_borough_county_from_response(response)
    
    if pd.isna(row['borough']):
        collision_df.at[idx, 'borough'] = borough
    if pd.isna(row['county']):
        collision_df.at[idx, 'county'] = county
    if pd.isna(row['zip_code']):
        collision_df.at[idx, 'zip_code'] = zip_code

In [82]:
collision_df['borough'] = collision_df['borough'].str.title()
collision_df['county'] = collision_df['county'].str.title()
collision_df['zip_code'] = collision_df['zip_code'].str.strip()
collision_df['on_street_name'] = collision_df['on_street_name'].str.title()
collision_df['off_street_name'] = collision_df['off_street_name'].str.title()
collision_df['cross_street_name'] = collision_df['cross_street_name'].str.title()
collision_df['contributing_factor_vehicle'] = collision_df['contributing_factor_vehicle'].str.title()
collision_df.head()

,collision_id,crash_date,crash_time,on_street_name,off_street_name,cross_street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,Whitestone Expressway,NaN,20 Avenue,Queens,Queens County,11356,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,Queensboro Bridge Upper,NaN,NaN,Manhattan,Queens County,10044,40.746402,-73.940191,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,Throgs Neck Bridge,NaN,NaN,Bronx,Bronx County,10465,40.816416,-73.798616,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,NaN,1211 Loring Avenue,NaN,Brooklyn,Kings County,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,Saratoga Avenue,NaN,Decatur Street,Brooklyn,Kings County,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [90]:
def get_street_name(row):
    if pd.notna(row['on_street_name']) and pd.notna(row['cross_street_name']):
        return f"{row['on_street_name']} & {row['cross_street_name']}"
    elif pd.notna(row['on_street_name']):
        return row['on_street_name']
    elif pd.notna(row['off_street_name']):
        return row['off_street_name']
    else:
        return row['cross_street_name']

In [91]:
collision_df['street_name'] = collision_df.apply(get_street_name, axis=1)

In [94]:
collision_df = collision_df[['collision_id', 'crash_date', 'crash_time', 
                             'street_name', 'borough', 'county', 'zip_code', 'latitude', 'longitude', 
                             'number_of_persons_injured', 'number_of_persons_killed', 'number_of_pedestrians_injured', 'number_of_pedestrians_killed', 
                             'number_of_cyclist_injured', 'number_of_cyclist_killed', 'number_of_motorist_injured', 'number_of_motorist_killed', 'contributing_factor_vehicle']]
collision_df.head()

,collision_id,crash_date,crash_time,street_name,borough,county,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle
0,4455765,2021-09-11,2:39,Whitestone Expressway & 20 Avenue,Queens,Queens County,11356,40.712728,-74.006015,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,4513547,2022-03-26,11:45,Queensboro Bridge Upper,Manhattan,Queens County,10044,40.746402,-73.940191,1,0,0,0,0,0,1,0,Pavement Slippery
2,4541903,2022-06-29,6:55,Throgs Neck Bridge,Bronx,Bronx County,10465,40.816416,-73.798616,0,0,0,0,0,0,0,0,Following Too Closely
3,4456314,2021-09-11,9:35,1211 Loring Avenue,Brooklyn,Kings County,11208,40.667202,-73.866500,0,0,0,0,0,0,0,0,Unspecified
4,4486609,2021-12-14,8:13,Saratoga Avenue & Decatur Street,Brooklyn,Kings County,11233,40.683304,-73.917274,0,0,0,0,0,0,0,0,NaN

In [97]:
collision_df.to_csv("../Resources/collision_geo_data_clean.csv", index=False)