In [1]:
import requests
import pandas as pd

def fetch_data(limit, offset):
    collision_response = requests.get("https://data.cityofnewyork.us/resource/h9gi-nx95.json", params = {"$limit": limit, "$offset": offset})
    collision_data = collision_response.json()
    return collision_data

In [2]:
total_records = 2500000
collision_df = pd.DataFrame()

for offset in range (0, total_records, 50000):
    collision_data = fetch_data(limit=50000, offset=offset)
    collision_df = pd.concat([collision_df, pd.DataFrame(collision_data)], ignore_index=True)
collision_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2042904 entries, 0 to 2042903
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   crash_date                     object
 1   crash_time                     object
 2   on_street_name                 object
 3   off_street_name                object
 4   number_of_persons_injured      object
 5   number_of_persons_killed       object
 6   number_of_pedestrians_injured  object
 7   number_of_pedestrians_killed   object
 8   number_of_cyclist_injured      object
 9   number_of_cyclist_killed       object
 10  number_of_motorist_injured     object
 11  number_of_motorist_killed      object
 12  contributing_factor_vehicle_1  object
 13  contributing_factor_vehicle_2  object
 14  collision_id                   object
 15  vehicle_type_code1             object
 16  vehicle_type_code2             object
 17  borough                        object
 18  zip_code                       object
 19  latitude                       object
 20  longitude                      object
 21  location                       object
 22  cross_street_name              object
 23  contributing_factor_vehicle_3  object
 24  vehicle_type_code_3            object
 25  contributing_factor_vehicle_4  object
 26  vehicle_type_code_4            object
 27  contributing_factor_vehicle_5  object
 28  vehicle_type_code_5            object
dtypes: object(29)
memory usage: 452.0+ MB

In [3]:
collision_df.head()

,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,0,...,40.667202,-73.8665,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Correct column names
collision_df = collision_df.rename(columns={"off_street_name": "cross_street_name", "cross_street_name": "off_street_name"})
collision_df.head(5)

,crash_date,crash_time,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,0,...,40.667202,-73.8665,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
collision_df.to_csv("collision_data.csv", index=False)

In [1]:
import pandas as pd
collision_df = pd.read_csv("collision_data.csv")
collision_df.head(5)

/var/folders/dj/y4ljl3090h1fhhs_lztxrk940000gn/T/ipykernel_23939/2723515769.py:2: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  collision_df = pd.read_csv("collision_data.csv")

,crash_date,crash_time,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0.0,0.0,0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0.0,0.0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
collision_clean_df = collision_df.copy() 
collision_clean_df.sort_values(by='crash_date', ascending=True)

,crash_date,crash_time,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
1923567,2012-07-01T00:00:00.000,13:32,OAK POINT AVENUE,BARRY STREET,0.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1923077,2012-07-01T00:00:00.000,15:00,WATER STREET,OLD SLIP,0.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1923078,2012-07-01T00:00:00.000,2:01,NORTHERN BOULEVARD,70 STREET,1.0,0.0,0,0,0,0,...,40.754389,-73.896522,"{'latitude': '40.7543893', 'longitude': '-73.8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1920964,2012-07-01T00:00:00.000,3:30,SAINT NICHOLAS AVENUE,WEST 127 STREET,0.0,0.0,0,0,0,0,...,40.812007,-73.951505,"{'latitude': '40.8120074', 'longitude': '-73.9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1920782,2012-07-01T00:00:00.000,18:55,NOSTRAND AVENUE,AVENUE X,1.0,0.0,1,0,0,0,...,40.593807,-73.940610,"{'latitude': '40.5938073', 'longitude': '-73.9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2042746,2023-11-14T00:00:00.000,2:07,BRONX RIVER PARKWAY,NaN,0.0,0.0,0,0,0,0,...,40.855120,-73.872215,"{'latitude': '40.85512', 'longitude': '-73.872...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2042747,2023-11-14T00:00:00.000,19:10,BRUCKNER EXPRESSWAY,NaN,1.0,0.0,0,0,0,0,...,40.828617,-73.842170,"{'latitude': '40.828617', 'longitude': '-73.84...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2042749,2023-11-14T00:00:00.000,9:43,31 AVENUE,STEINWAY STREET,1.0,0.0,1,0,0,0,...,40.761320,-73.917100,"{'latitude': '40.76132', 'longitude': '-73.917...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2042733,2023-11-14T00:00:00.000,22:30,NaN,NaN,0.0,0.0,0,0,0,0,...,40.885014,-73.900345,"{'latitude': '40.885014', 'longitude': '-73.90...",237 WEST 238 STREET,NaN,NaN,NaN,NaN,NaN,NaN
2042903,2023-11-14T00:00:00.000,16:00,NaN,NaN,0.0,0.0,0,0,0,0,...,40.682575,-73.866190,"{'latitude': '40.682575', 'longitude': '-73.86...",336 ELDERTS LANE,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
collision_clean_df.set_index('collision_id', inplace=True)

In [4]:
collision_clean_df.head(5)

,crash_date,crash_time,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11T00:00:00.000,9:35,NaN,NaN,0.0,0.0,0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0.0,0.0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
crash_datetime = pd.to_datetime(collision_clean_df['crash_date'] + ' ' + collision_clean_df['crash_time'])
collision_clean_df.insert(1, 'crash_datetime', crash_datetime)
collision_clean_df.head(5)

,crash_date,crash_datetime,crash_time,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11T00:00:00.000,2021-09-11 02:39:00,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,0.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26T00:00:00.000,2022-03-26 11:45:00,11:45,QUEENSBORO BRIDGE UPPER,NaN,1.0,0.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29T00:00:00.000,2022-06-29 06:55:00,6:55,THROGS NECK BRIDGE,NaN,0.0,0.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11T00:00:00.000,2021-09-11 09:35:00,9:35,NaN,NaN,0.0,0.0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14T00:00:00.000,2021-12-14 08:13:00,8:13,SARATOGA AVENUE,DECATUR STREET,0.0,0.0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
collision_clean_df.drop(columns=['crash_date', 'crash_time'], inplace=True)
collision_clean_df.head(5)

,crash_datetime,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,0.0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,QUEENSBORO BRIDGE UPPER,NaN,1.0,0.0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,THROGS NECK BRIDGE,NaN,0.0,0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,NaN,NaN,0.0,0.0,0,0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,SARATOGA AVENUE,DECATUR STREET,0.0,0.0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def get_address(row):
    if pd.notna(row['off_street_name']):
        return row['off_street_name']
    else:
        # Join only non-null values
        return ' & '.join(filter(pd.notna, [row['on_street_name'], row['cross_street_name']]))

In [9]:
collision_clean_df['street_address'] = collision_clean_df.apply(get_address, axis=1)

In [10]:
collision_clean_df.tail(5)

,crash_datetime,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5,street_address
collision_id,,,,,,,,,,,,,,,,,,,,,
4679147,2023-11-14 14:12:00,MORRIS AVENUE,NaN,0.0,0.0,0,0,0,0,0,...,-73.911400,"{'latitude': '40.837864', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,MORRIS AVENUE
4679531,2023-06-13 19:15:00,UTOPIA PARKWAY,PECK AVENUE,0.0,0.0,0,0,0,0,0,...,-73.792496,"{'latitude': '40.745667', 'longitude': '-73.79...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,UTOPIA PARKWAY & PECK AVENUE
4679541,2023-11-14 09:00:00,39 STREET,SKILLMAN AVENUE,0.0,0.0,0,0,0,0,0,...,-73.925476,"{'latitude': '40.74743', 'longitude': '-73.925...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,39 STREET & SKILLMAN AVENUE
4679584,2023-11-14 15:50:00,NaN,NaN,0.0,0.0,0,0,0,0,0,...,-73.936060,"{'latitude': '40.6681', 'longitude': '-73.9360...",1633 UNION STREET,NaN,NaN,NaN,NaN,NaN,NaN,1633 UNION STREET
4679180,2023-11-14 16:00:00,NaN,NaN,0.0,0.0,0,0,0,0,0,...,-73.866190,"{'latitude': '40.682575', 'longitude': '-73.86...",336 ELDERTS LANE,NaN,NaN,NaN,NaN,NaN,NaN,336 ELDERTS LANE

In [11]:
columns = collision_clean_df.columns.tolist()
columns.insert(1, columns.pop(columns.index('street_address')))
collision_clean_df = collision_clean_df[columns]
collision_clean_df.head(5)

,crash_datetime,street_address,on_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,off_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,WHITESTONE EXPRESSWAY & 20 AVENUE,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,QUEENSBORO BRIDGE UPPER,QUEENSBORO BRIDGE UPPER,NaN,1.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,THROGS NECK BRIDGE,THROGS NECK BRIDGE,NaN,0.0,0.0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,1211 LORING AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,SARATOGA AVENUE & DECATUR STREET,SARATOGA AVENUE,DECATUR STREET,0.0,0.0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
collision_clean_df.drop(columns=['on_street_name', 'cross_street_name', 'off_street_name'], inplace=True, errors='ignore')

In [13]:
collision_clean_df['street_address'] = collision_clean_df['street_address'].str.title()
collision_clean_df.head(5)

,crash_datetime,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,Whitestone Expressway & 20 Avenue,2.0,0.0,0,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,Queensboro Bridge Upper,1.0,0.0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,Throgs Neck Bridge,0.0,0.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,1211 Loring Avenue,0.0,0.0,0,0,0,0,0,0,...,11208.0,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,Saratoga Avenue & Decatur Street,0.0,0.0,0,0,0,0,0,0,...,11233.0,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
collision_clean_df['borough'] = collision_clean_df['borough'].str.title()
collision_clean_df.head(5)

,crash_datetime,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,Whitestone Expressway & 20 Avenue,2.0,0.0,0,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,Queensboro Bridge Upper,1.0,0.0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,Throgs Neck Bridge,0.0,0.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,1211 Loring Avenue,0.0,0.0,0,0,0,0,0,0,...,11208.0,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,Saratoga Avenue & Decatur Street,0.0,0.0,0,0,0,0,0,0,...,11233.0,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
collision_clean_df.head()

,crash_datetime,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,Whitestone Expressway & 20 Avenue,2.0,0.0,0,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,Queensboro Bridge Upper,1.0,0.0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,Throgs Neck Bridge,0.0,0.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,1211 Loring Avenue,0.0,0.0,0,0,0,0,0,0,...,11208.0,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,Saratoga Avenue & Decatur Street,0.0,0.0,0,0,0,0,0,0,...,11233.0,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
collision_clean_df['zip_code'] = collision_clean_df['zip_code'].astype(str).str[:5]
collision_clean_df['number_of_persons_injured'] = collision_clean_df['number_of_persons_injured'].fillna(0).astype(int)
collision_clean_df['number_of_persons_killed'] = collision_clean_df['number_of_persons_killed'].fillna(0).astype(int)
collision_clean_df['number_of_pedestrians_injured'] = collision_clean_df['number_of_pedestrians_injured'].astype(int)
collision_clean_df['number_of_pedestrians_killed'] = collision_clean_df['number_of_pedestrians_killed'].astype(int)
collision_clean_df['number_of_cyclist_injured'] = collision_clean_df['number_of_cyclist_injured'].astype(int)
collision_clean_df['number_of_cyclist_killed'] = collision_clean_df['number_of_cyclist_killed'].astype(int)
collision_clean_df['number_of_motorist_injured'] = collision_clean_df['number_of_motorist_injured'].astype(int)
collision_clean_df['number_of_motorist_killed'] = collision_clean_df['number_of_motorist_killed'].astype(int)

In [17]:
collision_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2042904 entries, 4455765 to 4679180
Data columns (total 25 columns):
 #   Column                         Dtype
---  ------                         -----
 0   crash_datetime                 datetime64[ns]
 1   street_address                 object
 2   number_of_persons_injured      int64
 3   number_of_persons_killed       int64
 4   number_of_pedestrians_injured  int64
 5   number_of_pedestrians_killed   int64
 6   number_of_cyclist_injured      int64
 7   number_of_cyclist_killed       int64
 8   number_of_motorist_injured     int64
 9   number_of_motorist_killed      int64
 10  contributing_factor_vehicle_1  object
 11  contributing_factor_vehicle_2  object
 12  vehicle_type_code1             object
 13  vehicle_type_code2             object
 14  borough                        object
 15  zip_code                       object
 16  latitude                       float64
 17  longitude                      float64
 18  location                       object
 19  contributing_factor_vehicle_3  object
 20  vehicle_type_code_3            object
 21  contributing_factor_vehicle_4  object
 22  vehicle_type_code_4            object
 23  contributing_factor_vehicle_5  object
 24  vehicle_type_code_5            object
dtypes: datetime64[ns](1), float64(2), int64(8), object(14)
memory usage: 405.2+ MB

In [18]:
collision_clean_df.head(5)

,crash_datetime,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,Whitestone Expressway & 20 Avenue,2,0,0,0,0,0,2,0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,Queensboro Bridge Upper,1,0,0,0,0,0,1,0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,Throgs Neck Bridge,0,0,0,0,0,0,0,0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,1211 Loring Avenue,0,0,0,0,0,0,0,0,...,11208,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,Saratoga Avenue & Decatur Street,0,0,0,0,0,0,0,0,...,11233,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
import numpy as np
collision_clean_df['zip_code'] = collision_clean_df['zip_code'].replace('nan', np.nan)
collision_clean_df.head()

,crash_datetime,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,Whitestone Expressway & 20 Avenue,2,0,0,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,Queensboro Bridge Upper,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,Throgs Neck Bridge,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,1211 Loring Avenue,0,0,0,0,0,0,0,0,...,11208,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,Saratoga Avenue & Decatur Street,0,0,0,0,0,0,0,0,...,11233,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
collision_clean_df.dropna(subset=['street_address'], inplace=True)
collision_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2042904 entries, 4455765 to 4679180
Data columns (total 25 columns):
 #   Column                         Dtype
---  ------                         -----
 0   crash_datetime                 datetime64[ns]
 1   street_address                 object
 2   number_of_persons_injured      int64
 3   number_of_persons_killed       int64
 4   number_of_pedestrians_injured  int64
 5   number_of_pedestrians_killed   int64
 6   number_of_cyclist_injured      int64
 7   number_of_cyclist_killed       int64
 8   number_of_motorist_injured     int64
 9   number_of_motorist_killed      int64
 10  contributing_factor_vehicle_1  object
 11  contributing_factor_vehicle_2  object
 12  vehicle_type_code1             object
 13  vehicle_type_code2             object
 14  borough                        object
 15  zip_code                       object
 16  latitude                       float64
 17  longitude                      float64
 18  location                       object
 19  contributing_factor_vehicle_3  object
 20  vehicle_type_code_3            object
 21  contributing_factor_vehicle_4  object
 22  vehicle_type_code_4            object
 23  contributing_factor_vehicle_5  object
 24  vehicle_type_code_5            object
dtypes: datetime64[ns](1), float64(2), int64(8), object(14)
memory usage: 405.2+ MB

In [21]:
import datetime as dt
# convert the datetime to days of week 
position = collision_clean_df.columns.get_loc('crash_datetime') + 1
crash_day_of_week = collision_clean_df['crash_datetime'].dt.dayofweek
collision_clean_df.insert(position, 'crash_day_of_week', crash_day_of_week)
collision_clean_df.head(5)

,crash_datetime,crash_day_of_week,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,5,Whitestone Expressway & 20 Avenue,2,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,5,Queensboro Bridge Upper,1,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,2,Throgs Neck Bridge,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,5,1211 Loring Avenue,0,0,0,0,0,0,0,...,11208,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,1,Saratoga Avenue & Decatur Street,0,0,0,0,0,0,0,...,11233,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
collision_clean_df['street_address'] = collision_clean_df['street_address'].str.replace(r'\s+', ' ', regex=True)
collision_clean_df.head(5)

,crash_datetime,crash_day_of_week,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4455765,2021-09-11 02:39:00,5,Whitestone Expressway & 20 Avenue,2,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513547,2022-03-26 11:45:00,5,Queensboro Bridge Upper,1,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4541903,2022-06-29 06:55:00,2,Throgs Neck Bridge,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4456314,2021-09-11 09:35:00,5,1211 Loring Avenue,0,0,0,0,0,0,0,...,11208,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4486609,2021-12-14 08:13:00,1,Saratoga Avenue & Decatur Street,0,0,0,0,0,0,0,...,11233,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
import requests

def geocode_address_with_zipcode(address):
    # URL encode the address
    address = address + ", NY"

    # Construct the request URL
    url = f"https://nominatim.openstreetmap.org/search?"

    # Send the request
    response = requests.get(url, params={'q' : address, 'format': 'json'})

    # Check if the response is successful
    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()

        # Check if data is returned
        if data:
            # Extract latitude and longitude
            latitude = data[0]["lat"]
            longitude = data[0]["lon"]

            # Try to extract the zipcode
            zipcode = data[0].get("display_name").split(',')[-2].strip() if len(data[0].get("display_name").split(',')) > 1 else "Zipcode not found"

            return latitude, longitude, zipcode
        else:
            return None, None, None
    else:
        return None, None, None

In [25]:
for i in range(0, 10):
    latitude, longitude, zip_code = geocode_address_with_zipcode(collision_clean_df.iloc[i, 2])
    if pd.isna(collision_clean_df.iloc[i, 16]):
        collision_clean_df.iloc[i, 16] = zip_code
    if pd.isna(collision_clean_df.iloc[i, 17]):
        collision_clean_df.iloc[i, 17] = latitude
        collision_clean_df.iloc[i, 18] = longitude

In [32]:
collision_2022_df = collision_clean_df[collision_clean_df['crash_datetime'].dt.year == 2022].copy()

In [33]:
collision_2022_df[collision_2022_df['zip_code'].isna() | collision_2022_df['latitude'].isna() | collision_2022_df['longitude'].isna()]

,crash_datetime,crash_day_of_week,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4542336,2022-06-29 16:00:00,2,Williamsburg Bridge Outer Roadwa,1,0,0,0,0,0,1,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4521759,2022-04-24 04:49:00,6,Boston Road & Bronx Park East,0,0,0,0,0,0,0,...,None,40.855972,-73.869896,"{'latitude': '40.855972', 'longitude': '-73.86...",NaN,NaN,NaN,NaN,NaN,NaN
4521902,2022-04-24 10:27:00,6,Vanwyck Expressway & 109 Avenue,1,0,0,0,0,0,1,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4514263,2022-03-26 09:30:00,5,Bruckner Boulevard & East 137 Street,0,0,0,0,0,0,0,...,None,40.804153,-73.91304,"{'latitude': '40.804153', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN
4513528,2022-03-26 01:26:00,5,Gowanus Ramp,0,0,0,0,0,0,0,...,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4662771,2022-09-04 16:11:00,6,West 127 Street,0,0,0,0,0,0,0,...,NaN,40.80907,-73.94455,"{'latitude': '40.80907', 'longitude': '-73.944...",NaN,NaN,NaN,NaN,NaN,NaN
4631141,2022-10-17 19:14:00,0,West 142 Street,1,0,0,0,1,0,0,...,NaN,40.81851,-73.93765,"{'latitude': '40.81851', 'longitude': '-73.937...",NaN,NaN,NaN,NaN,NaN,NaN
4630945,2022-05-20 18:04:00,4,East 135 Street,1,0,0,0,0,0,1,...,NaN,40.807186,-73.924286,"{'latitude': '40.807186', 'longitude': '-73.92...",NaN,NaN,NaN,NaN,NaN,NaN
4631472,2022-07-08 13:00:00,4,Atlantic Avenue,2,0,2,0,0,0,0,...,NaN,40.677288,-73.92824,"{'latitude': '40.677288', 'longitude': '-73.92...",NaN,NaN,NaN,NaN,NaN,NaN
4631496,2022-06-11 15:00:00,5,Marcus Garvey Boulevard,1,0,0,0,0,0,1,...,NaN,40.690483,-73.93954,"{'latitude': '40.690483', 'longitude': '-73.93...",NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
collision_2023_df = collision_clean_df[collision_clean_df['crash_datetime'].dt.year == 2023].copy()

In [38]:
collision_2023_df[collision_2023_df['zip_code'].isna() | collision_2023_df['latitude'].isna() | collision_2023_df['longitude'].isna()]

,crash_datetime,crash_day_of_week,street_address,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,...,zip_code,latitude,longitude,location,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
collision_id,,,,,,,,,,,,,,,,,,,,,
4631594,2023-05-23 11:00:00,1,7 Avenue & 18 Street,3,0,0,0,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4648408,2023-07-13 11:30:00,3,29 Street & 41 Avenue,0,0,0,0,0,0,0,...,NaN,40.75123,-73.9366,"{'latitude': '40.75123', 'longitude': '-73.936...",NaN,NaN,NaN,NaN,NaN,NaN
4648568,2023-07-22 13:45:00,5,Westchester Avenue & Cross Bronx Expressway,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4618019,2023-04-01 21:45:00,5,Avenue D,3,0,0,0,0,0,3,...,NaN,40.642384,-73.92539,"{'latitude': '40.642384', 'longitude': '-73.92...",NaN,NaN,NaN,NaN,NaN,NaN
4630654,2023-05-20 16:10:00,5,Kings Highway,2,0,0,0,0,0,2,...,NaN,40.64664,-73.9246,"{'latitude': '40.64664', 'longitude': '-73.924...",Unspecified,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4679522,2023-11-11 12:40:00,5,Nostrand Avenue,1,0,1,0,0,0,0,...,NaN,40.679634,-73.94959,"{'latitude': '40.679634', 'longitude': '-73.94...",NaN,NaN,NaN,NaN,NaN,NaN
4679502,2023-11-11 20:11:00,5,Tysens Lane,2,0,0,0,0,0,2,...,NaN,40.562675,-74.1143,"{'latitude': '40.562675', 'longitude': '-74.11...",Unspecified,Sedan,NaN,NaN,NaN,NaN
4679098,2023-11-14 15:50:00,1,50 Sleepy Hollow Road,0,0,0,0,0,0,0,...,NaN,40.594402,-74.16609,"{'latitude': '40.594402', 'longitude': '-74.16...",NaN,NaN,NaN,NaN,NaN,NaN
4679471,2023-11-12 22:23:00,6,Hutchinson River Parkway,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4679147,2023-11-14 14:12:00,1,Morris Avenue,0,0,0,0,0,0,0,...,NaN,40.837864,-73.9114,"{'latitude': '40.837864', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
for i in range(10, 10000):
    latitude, longitude, zip_code = geocode_address_with_zipcode(collision_clean_df.iloc[i, 2])
    if pd.isna(collision_clean_df.iloc[i, 16]):
        collision_clean_df.iloc[i, 16] = zip_code
    if pd.isna(collision_clean_df.iloc[i, 17]):
        collision_clean_df.iloc[i, 17] = latitude
        collision_clean_df.iloc[i, 18] = longitude

KeyboardInterrupt: