In [1]:
import pandas as pd 
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, DateTime
from sqlalchemy.dialects.sqlite import DATETIME

In [2]:
df = pd.read_csv('../Resources/collision_geo_data_clean.csv')

In [3]:
df.set_index('collision_id', inplace=True)

In [4]:
df['zip_code'] = df['zip_code'].astype(str)

In [5]:
df['crash_datetime'] = df['crash_date'] + ' ' + df['crash_time']

In [6]:
df.drop(columns=['crash_date', 'crash_time'], inplace=True)

In [7]:
df['crash_datetime'] = pd.to_datetime(df['crash_datetime'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 4455765 to 4407712
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   street_name                    1000 non-null   object
 1   borough                        1000 non-null   object
 2   county                         1000 non-null   object
 3   zip_code                       1000 non-null   object
 4   latitude                       1000 non-null   float64
 5   longitude                      1000 non-null   float64
 6   number_of_persons_injured      1000 non-null   int64
 7   number_of_persons_killed       1000 non-null   int64
 8   number_of_pedestrians_injured  1000 non-null   int64
 9   number_of_pedestrians_killed   1000 non-null   int64
 10  number_of_cyclist_injured      1000 non-null   int64
 11  number_of_cyclist_killed       1000 non-null   int64
 12  number_of_motorist_injured     1000 non-null   int64
 13  number_of_motorist_killed      1000 non-null   int64
 14  contributing_factor_vehicle    997 non-null    object
 15  crash_datetime                 1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(8), object(5)
memory usage: 132.8+ KB

In [9]:
engine = create_engine('sqlite:///../Resources/collision_db.sqlite')

In [10]:
metadata = MetaData()

In [11]:
motor_collisions = Table('motor_collisions', metadata,
                         Column('collision_id', Integer, primary_key=True),
                         Column('crash_datetime', DateTime),
                         Column('street_name', String), 
                         Column('borough', String),
                         Column('county', String),
                         Column('zip_code', String),
                         Column('latitude', Float),
                         Column('longitude', Float),
                         Column('number_of_persons_injured', Integer),
                         Column('number_of_persons_killed', Integer),
                         Column('number_of_pedestrians_injured', Integer),
                         Column('number_of_pedestrians_killed', Integer),
                         Column('number_of_cyclist_injured', Integer),
                         Column('number_of_cyclist_killed', Integer),
                         Column('number_of_motorist_injured', Integer),
                         Column('number_of_motorist_killed', Integer),
                         Column('contributing_factor_vehicle', String)
                         )
metadata.create_all(engine)

In [12]:
df.to_sql('motor_collisions', con=engine, if_exists='append', index=True)

1000

In [13]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())  # Check if the table is listed
print(inspector.get_columns('motor_collisions'))  # Check the structure of the table

['motor_collisions']
[{'name': 'collision_id', 'type': INTEGER(), 'nullable': False, 'default': None, 'primary_key': 1}, {'name': 'crash_datetime', 'type': DATETIME(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'street_name', 'type': VARCHAR(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'borough', 'type': VARCHAR(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'county', 'type': VARCHAR(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'zip_code', 'type': VARCHAR(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'latitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'longitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_persons_injured', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_persons_killed', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_pedestrians_injured', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_pedestrians_killed', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_cyclist_injured', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_cyclist_killed', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_motorist_injured', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'number_of_motorist_killed', 'type': INTEGER(), 'nullable': True, 'default': None, 'primary_key': 0}, {'name': 'contributing_factor_vehicle', 'type': VARCHAR(), 'nullable': True, 'default': None, 'primary_key': 0}]