In [46]:
import pandas as pd
df = pd.read_csv("../Resources/collision_data_clean.csv", dtype = {'zip_code':'object'})

with open('../api_keys/openweather.txt', 'r') as file:
    weather_apikey = file.readline().strip()

with open('../api_keys/geoapify.txt', 'r') as file:
    geo_apikey = file.readline().strip()

1ace17678fd8498ba8d9d80b02cfd3be
ffcb1b8b3a5fa39fd16fe6b78901a206

In [40]:
grouped = df.groupby(['crash_date','zip_code']).size()
grouped

crash_date  zip_code
2016-04-16  11214       1
2019-05-21  11201       1
2021-02-26  10461       1
2021-03-20  11205       1
2021-03-28  11221       1
                       ..
2022-04-24  11221       1
            11411       1
            11418       1
            11419       1
2022-07-12  11225       1
Length: 497, dtype: int64

In [41]:
grouped_df = pd.DataFrame(grouped).reset_index()
grouped_df = grouped_df.iloc[:, :-1]
grouped_df.reset_index(drop=True, inplace=True)
grouped_df

     crash_date zip_code
0    2016-04-16    11214
1    2019-05-21    11201
2    2021-02-26    10461
3    2021-03-20    11205
4    2021-03-28    11221
..          ...      ...
492  2022-04-24    11221
493  2022-04-24    11411
494  2022-04-24    11418
495  2022-04-24    11419
496  2022-07-12    11225

[497 rows x 2 columns]

In [43]:
for zip in grouped_df:

'1ace17678fd8498ba8d9d80b02cfd3be'

In [66]:
import requests
geo_data_all = []

for zip in grouped_df['zip_code']:
    url = f"https://api.geoapify.com/v1/geocode/search?text={zip}&lang=en&limit=10&type=postcode&filter=countrycode:us&apiKey={geo_apikey}"
    geoapify = requests.get(url)
    geo_data = geoapify.json()

    geo_data_all.append(geo_data)

In [72]:
for i in range(len(geo_data_all)):
    zip_code = geo_data_all[i]['features'][0]['properties']['postcode']
    lat = geo_data_all[i]['features'][0]['properties']['lat']
    lon = geo_data_all[i]['features'][0]['properties']['lon']

In [71]:
geo_data_all[0]

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'result_type': 'postcode',
    'suburb': 'Kings County',
    'city': 'New York',
    'state': 'New York',
    'postcode': '11214',
    'country': 'United States',
    'country_code': 'us',
    'datasource': {'sourcename': 'openstreetmap',
     'attribution': '© OpenStreetMap contributors',
     'license': 'Open Database License',
     'url': 'https://www.openstreetmap.org/copyright'},
    'state_code': 'NY',
    'lon': -73.996609239,
    'lat': 40.602073463,
    'parent_as_place_id': True,
    'formatted': 'Kings County (New York), NY 11214, United States of America',
    'address_line1': 'Kings County (New York), NY 11214',
    'address_line2': 'United States of America',
    'category': 'administrative',
    'timezone': {'name': 'America/New_York',
     'offset_STD': '-05:00',
     'offset_STD_seconds': -18000,
     'offset_DST': '-04:00',
     'offset_DST_seconds': -14400,
     'abbreviation_STD': 'EST',
     'abbreviation_DST': 'EDT'},
    'plus_code': '87G8J223+R9',
    'plus_code_short': 'J223+R9 New York, New York, United States',
    'rank': {'popularity': 7.217176440995994,
     'confidence': 1,
     'confidence_city_level': 1,
     'match_type': 'full_match'},
    'place_id': '515f191e72c87f52c059efaf44be104d4440f00101f9016ea3050000000000c0020792030831313231342b7573'},
   'geometry': {'type': 'Point', 'coordinates': [-73.996609239, 40.602073463]},
   'bbox': [-74.056688, 40.550339, -73.832945, 40.739434]}],
 'query': {'text': '11214',
  'parsed': {'postcode': '11214', 'expected_type': 'unknown'}}}

In [ ]:
def append_weather(df, lat, long):
    parameters = {lat: , 
                  long: ,
                  type: , 
                  appid: weather_apikey , 
                  start:
                  end:
                  cnt:
    }

api sample response:
{
   "message": "Count: 24",
   "cod": "200",
   "city_id": 4298960,
   "calctime": 0.00297316,
   "cnt": 24,
   "list": [
   {
   "dt": 1578384000,
   "main": {
     "temp": 275.45,
     "feels_like": 271.7,
     "pressure": 1014,
     "humidity": 74,
     "temp_min": 274.26,
     "temp_max": 276.48
   },
   "wind": {
     "speed": 2.16,
     "deg": 87
   },
   "clouds": {
     "all": 90
   },
   "weather": [
     {
       "id": 501,
       "main": "Rain",
       "description": "moderate rain",
       "icon": "10n"
     }
   ],
   "rain": {
     "1h": 0.9
   }
},